.post-body-wrapper {
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: whitesmoke;
} 

.main_post {
    height: auto;
    width: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
}

.main_post > h1{
    padding-top: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.main_post > h3{
    text-align: center;
    /*font-family: Monospace, Sans-serif, Serif;*/
    border-bottom: 1px dotted rgb(144, 147, 154);
    padding-bottom: 20px;
    font-size: 14px;
}

.post_body {
    padding: 50px;
    /*font-family: "Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","PingFang SC","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;*/
}

.post_body ul, ol {
    padding: 20px;
    color: grey;
}

.post_body tr:nth-child(even) {background-color: #f2f2f2}

.post_body table {
    padding: 10px;
}

.post_body pre {
    display: block;
    padding: 20px;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.post_body p {
    display: block;
    /*font-weight: 400;*/
    font-size: 18px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.post_body a {
    color: red;
}

.post_body a:hover {
    color: pink;
}

.post_body img {
    display: block;
    max-width: 75%;
    max-height: 75%;
    /*max-width: 100%;*/
    padding: 10px;
    box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 1px 1px 1px;
    margin: 10px 20px 10px 70px;
}
