.post-body-wrapper {
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: whitesmoke;
} 

.main_post {
    height: auto;
    width: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
}

.main_post > h1{
    padding-top: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.main_post > h3{
    text-align: center;
    font-family: Monospace, Sans-serif, Serif;
    border-bottom: 1px dotted rgb(144, 147, 154);
    padding-bottom: 20px;
    color: lightblue;
    font-size: 16px;
}

.post_body {
    padding: 50px;
    font-family: Serif, Monospace, Sans-serif;
}

.post_body pre {
    display: block;
    padding: 20px;
    font-size: 14px;
}

.post_body p {
    color: grey;
}

.post_body img {
    display: block;
    max-width: 60%;
    max-height: 60%;
    padding: 10px;
    box-shadow: rgba(0.25, 0.25, 0.25, 0.25) 1px 1px 1px;
}
