/* .info_card { */
#info_card {
    border-radius: 2px 50px 2px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 3px;
    background-color: white;
    height: 500px;
    width: 250px;
}

.pic img {
    padding: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
    border-radius: 2px 50px 2px 2px;
    width: 230px;
    height: 200px;
}

.name {
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
}

.name a {
    color: black; 
    font-size: 100%;
    font-family: Monospace, Sans-serif, Serif;
    font-size: 20px;
}

.name a:hover {
    color: pink;
}

.name h3 {
    font-size: 1em;
    color: rgba(0,0,0,.4);
}

.address {
    padding: 15px;    
    font-family: Monospace, Sans-serif, Serif;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
}

.address.org {
    margin: 10px;
}

.web {
    padding: 15px;
}
